<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="<%- data[slug].description.replace(/(\r)?\n/g,'') %>">
<meta prottype="og:image" contnt="<%- rootDirectory %>assets/images/<%- data[slug].ogimage %>">
<title><%= data[slug].title %></title>