<!DOCTYPE html>
<%_
/**
 * ページデータ設定
 */
  const metaInfo = {
    slug: "home",
    rootDirectory: "./"
  };
_%>
<html lang="ja">
  <head>
    <%- include('lib/components/metadata',metaInfo); %>
    <link rel="stylesheet" href="<%= metaInfo.rootDirectory %>common/css/common.scss">
    <script defer src="<%= metaInfo.rootDirectoryt %>common/js/lib.js"></script>
  </head>
  <body> 
    <%- include('common/inc/header', metaInfo); %>
    <main class="main">
      
    </main>
    <%- include('common/inc/footer', metaInfo); %>
  </body>
</html>